html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    transition: all .3s;
    /* -webkit-transition: all .4s linear;
    transition: all .4s linear; */
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
    resize: none;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Gilroy',arial;
    color: #0f0f10;
    font-weight: normal;
    font-size: 1rem;
    position: relative;
}

/* .content {
    flex: 1 0 auto;
} */

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BlackItalic.eot');
    src: url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('../fonts/Gilroy-BlackItalic.ttf') format('truetype'),
        url('../fonts/Gilroy-BlackItalic.svg#Gilroy-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBoldItalic.eot');
    src: url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Gilroy-SemiBoldItalic.svg#Gilroy-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('../fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



.content {
    position: relative;
}

.footer-wrap {
    flex: 0 0 auto;
}

.container {
    width: 100%;
    max-width: calc(1276px + (15px * 2));
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.hero-bg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}

.section-hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-image: linear-gradient(to right, #000000 7%, rgba(0, 0, 0, 0.67) 81%, #000000 128%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero__logo {
    max-width: 124px;
    margin-bottom: 40px;
}

.hero__inner {
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-50% - (138px / 2)));
    padding-left: 144px;
}

.hero__text {
    max-width: 700px;
    width: 100%;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 50px;
}

.btn {
    display: block;
    max-width: 304px;
    width: 100%;
    border-radius: 5px;

    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
    width: 200px;
    color: #30d0a4;
    border: solid 1px #30d0a4;
    font-size: 16px;
    line-height: 19px;
    transition: all .3s ease;
}

.btn-action {
    min-width: 200px;
    width: 100%;
    max-width: 314px;
    padding-top: 19px;
    padding-bottom: 20px;
    color: #fff;
    background: linear-gradient(94deg, #30d0a4 -26%, rgba(48, 208, 164, 0.81) 61%, rgba(48, 208, 164, 0.56) 216%);
    text-align: left;
    position: relative;
    padding-left: 35px;
    padding-right: 60px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    transition: all .3s ease;
}

.btn-action::after {
    content: '';
    background: url('../img/ar.png') center no-repeat;
    background-size: contain;
    top: 0;
    right: 30px;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    position: absolute;
    transition: all .3s ease;
}

.btn-action:hover::after{
    transform: translate(10px, 0);
}

.wrapper .active {
    color: red;
}

.section-arcticles {
    position: relative;
    /* top: -134px; */
    transform: translate(0, -138px);
    margin-bottom: 50px;

}


.grid-row {
    /* display: flex; */
    font-size: 0;
}

.m0 {
    margin-right: 0 !important;
}

.grid__item {
    width: 100%;
    padding-top: 35px;
    padding-left: 35px;
    display: inline-block;
    padding-right: 64px;
    max-width: 268px;
    padding-bottom: 20px;
    background: #fff;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
    min-height: 276px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.no-select {
    pointer-events: none;
}

.grid__item .btn {
    position: absolute;
    bottom: 25px;
}

.tabs .grid__item {
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);

}

.tabs .grid__item:hover {
    box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.15);
}

.tabs .grid__item:hover .btn {
    color: #fff;
    border: solid 1px #30d0a4;
    background: #30d0a4;
}

.tab_item {
    margin-top: 20px;
}

.grid__item h2 {
    font-size: 18px;
    left: 21px;
    margin-bottom: 25px;
    font-weight: normal;
}

.grid__item p {
    font-size: 14px;
    padding-left: 21px;
    margin-bottom: 20px;
}

.grid__item p:last-child {
    margin-bottom: 0;
}

.grid__item--700 {
    max-width: 700px;
}

.grid__item--988 {
    max-width: 988px;
}

.grid__item--w100 {
    max-width: 100%;
}

.tabs_artiles .grid__item {
    border-radius: 5px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
}

.title-dec {
    position: relative;
    font-size: 46px;
    line-height: 56px;
    display: inline-block;
    margin-bottom: 50px;
}

.title-dec::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: -16px;
    left: -16px;
    background: url('../img/dec.svg') center no-repeat;
}

.title-dec::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    bottom: -16px;
    right: -16px;
    background: url('../img/dec.svg') center no-repeat;
    transform: rotate(180deg);
}

.section-nums {
    margin-bottom: 170px;
}

.nums__inner {
    padding: 30px 60px;
    margin-bottom: 14px;
    border-radius: 5px;
    box-shadow: 0 12px 24px 0 rgba(85, 85, 85, 0.05);
    background-image: linear-gradient(93deg, #30d0a4 0%, rgba(48, 208, 164, 0.64) 132%);
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    align-items: center;



}

.num {
    width: 33%;
    border-right: solid 1px #ffffff;
    min-height: 115px;
    justify-content: center;
    align-items: center;
    position: relative;
}


.num p {
    font-size: 16px;
    line-height: 120%;
}

.num span {
    font-size: 40px;
    font-weight: 600;
}

.num:last-child {
    border: none;
}

.num__inner {
    width: 184px;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.section-portf {
    margin-bottom: 155px;
}

.portf__header {
    display: flex;
    justify-content: space-between;
}

.portf__inner .grid__item {
    color: #fff;
    background: center no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.portf__inner .grid__item:hover .btn-small {
    background: #30d0a4;
    border: none;
}

.portf__inner .grid__item:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.portf__inner .grid__item h2 {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    font-weight: bold;

}

.portf__inner .grid__item .btn-small {
    z-index: 1;
    position: absolute;
}

.portf__inner .grid-row {
    margin-bottom: 30px;
}


.btn-small {
    right: 25px;
    bottom: 25px;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    position: relative;
}

.btn-small::after {
    content: '';
    background: url('../img/ar.png') center no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    position: absolute;
    transform: rotate(90deg);
    transition: all .3s ease;
}

/* #30d0a4 */

.btn-small:hover::after,
.btn-small.active:hover::after,
.grid__item:hover .btn-small::after {
    transform: rotate(270deg);

}

.feedback__title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 50px;
    color: #fff;

}

.footer-wrap {
    padding-top: 100px;
    position: relative;
}

.footer-wrap::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.65;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.67) 34%, #6d6d6d);
    z-index: -1;
}

.form-row {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}


.input-wrap {
    width: 100%;
    max-width: 418px;
    margin-right: 24px;

}

.input-wrap:last-child {
    margin-right: 0;
}

.input-wrap input::placeholder,
.input-wrap textarea::placeholder{
    color: #0f0f10;
    opacity: .5;
}

.input-wrap input, .input-wrap textarea {
    width: 100%;
    font-size: 16px;
    padding-top: 18px;
    padding-left: 35px;
    padding-bottom: 14px;
    padding-right: 20px;
    border-radius: 5px;
}

textarea{
    min-height: 120px;
    resize: none;
}

.input-wrap--w100 {
    max-width: 100%;
}






.btn-form {
    max-width: 268px;
}

.feedback__form .btn{
    margin-right: 38px;
}

.checkbox {
    max-width: 100%;
    margin: auto;
    text-align: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: #fff;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
     width: 30px;
     height: 30px;
     border-radius: 10px;
     border: solid 2px #ffffff;
    z-index: 0;
    cursor: pointer;
}

input.error+.checkmark {
    border-color: #f49ac1;
}

.checkbox input {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.checkbox input:checked+span::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background: #fff;
    content: '';
}

.checkbox-text {
    cursor: pointer;
    margin-left: 16px;
    display: inline-block;
}

.checkbox-text a {
}

.section-feedback{
    margin-bottom: 80px;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(37, 37, 37, .5);
    ;
}

.footer___inner{
    display: flex;
    color: #b8b8b8;
}

.footer__left{
    display: flex;
    align-items: center;
}

.footer__logo{
    max-width: 60px;
    margin-left: 120px;
}

.footer__contacts{
    margin-left: 120px;
}

.footer__contacts > div{
    margin-bottom: 10px;
}

.footer__contacts>div:last-child{
    margin-bottom: 0;
}

.socials__ul{
    list-style: none;
}

.socials__link{
    width: 28px;
    height: 28px;
    background: center no-repeat;
    background-size: contain;
}

.socials__link--tw{
    background-color: #fff;
    /* background-image: url('../img/tw.svg'); */
}